# deps
node_modules/
.pnpm-store/

# next / build
.next/
out/
dist/
build/

# env
.env
.env.local
.env.*.local
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor / os
.DS_Store
Thumbs.db
.vscode/
.idea/

# misc
*.tsbuildinfo
coverage/
